<ul class="list-group">
  <li class="list-group-item">
    <strong>Type</strong>
    <span class="pull-right">
      <app-pokemon-type [types]="pokemon.types"></app-pokemon-type>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Height</strong>
    <span class="pull-right">{{pokemon.height}}</span>
  </li>
  <li class="list-group-item">
    <strong>Weight</strong>
    <span class="pull-right">{{pokemon.weight}}</span>
  </li>
  <li class="list-group-item">
    <strong>Color</strong>
    <span class="pull-right">{{pokemon.color.name}}</span>
  </li>
  <li class="list-group-item">
    <strong>Shape</strong>
    <span class="pull-right">{{pokemon.shape.name}}</span>
  </li>
  <li class="list-group-item">
    <strong>Capture Rate</strong>
    <span class="pull-right">{{pokemon.capture_rate}}</span>
  </li>
  <li class="list-group-item">
    <strong>Abilities</strong>
    <ul>
      <li *ngFor="let ability of pokemon.abilities">
        {{ability.ability.name}}
      </li>
    </ul>
  </li>
</ul>
