<div class="pokemon panel panel-primary"
     [routerLink]="['/pokemon/'+pokemon.entry_number]">
  <div class="panel-heading">
    <app-pokemon-name [name]="pokemon.pokemon_species.name"
                      [id]="pokemon.entry_number"></app-pokemon-name>
  </div>
  <div class="panel-body">
    <a>
      <app-pokemon-image [id]="pokemon.entry_number"></app-pokemon-image>
    </a>
  </div>
  <div *ngIf="!isTrap" class="panel-footer"
       (click)="trap(pokemon); $event.stopPropagation();">
    <div class="text-center">
      Capture
    </div>
  </div>
</div>
