<!-- pokemon -->
<div *ngIf="!pokemon">
  <div class="page-header">
    <h1>Error</h1>
  </div>
  <div class="alert alert-danger">
    <p>Pokémon not found</p>
  </div>
</div>

<div *ngIf="pokemon">
  <div class="page-header">
    <app-pokemon-name [name]="pokemon.name"
                      [id]="pokemonId"></app-pokemon-name>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-pokemon-image [id]="pokemonId"></app-pokemon-image>
    </div>
    <!-- Tabs -->
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li [class.active]="isActive(1)"><a (click)="selectTab(1)">Pokédex</a></li>
        <li [class.active]="isActive(2)"><a (click)="selectTab(2)">Stats</a></li>
      </ul>
      <div class="tab-content">
        <!-- Pokedex -->
        <div *ngIf="isActive(1)">
          <app-pokemon-data [pokemon]="pokemon"></app-pokemon-data>
        </div>
        <!-- Stats -->
        <div *ngIf="isActive(2)">
          <app-pokemon-stats [stats]="pokemon.stats"></app-pokemon-stats>
        </div>
      </div>
    </div>
    <!-- /tabs -->
  </div>
</div>
<!-- /pokemon -->
